#title{
  padding: 5% 10%;
  color: #fff;
background-color: #ADD8E6

}
.container-fluid{

padding:3% 15%;

}
h1{
font-family: 'Pacifico', cursive;
       font-size: 100px;


       line-height: 1.5rem;
}
h1:hover{
  color: gold;
}
img{
  transition: rotate(25deg);
width: 200px;
height: 200px;

}
.navbar-nav
.nav-link{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  padding: 0 18px 0;
  ;
}


#pos{
  padding: 5% 25%;
background: #F8F8FF;



}
h2{
font-family: 'Dosis', sans-serif;
font-size: 1rem;
}
h2:hover{
  color:black;
}
hr{
border-width: 100px;
border-style: dashed none none;
width: 30%;
height: 0px;

}
.fab {
margin: 10px 10%;


}
.fab:hover{
  color: red;
}
.navbar-brand{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
}
.aaa{
  margin-left: 580px;
}
